<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Logging</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>minimal_log_level_description</string>
			<key>Key</key>
			<string>dev_tunnicliff_lib_logging_minimal_log_level</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>minimal_log_level_debug</string>
				<string>minimal_log_level_info</string>
				<string>minimal_log_level_error</string>
				<string>minimal_log_level_critical</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
